In [1]:
for i in range(1,11):
    print(5 * i)

5
10
15
20
25
30
35
40
45
50

In [2]:
def calc(x,y):
    z1 = x + y
    z2 = x - y
    z3 = x / y
    z4 = x * y
    return z1

In [3]:
calc(2,4)

6

In [4]:
def calc(x,y):
    z1 = x + y
    z2 = x - y
    z3 = x / y
    z4 = x * y
    return z1,z2,z3,z4

In [5]:
a = calc(2,5)

In [6]:
a

(7, -3, 0.4, 10)

In [7]:
type(a)

tuple

In [8]:
a,b,c,d = calc(2,5)

In [10]:
a,b,c,d

(7, -3, 0.4, 10)

In [11]:
data = [12,34,56,78,2,3,53,65,"hello","hi","bye",12.5]

In [12]:
data = []
for i in range(1,101):
    if i % 2 == 0:
        data.append(i)

In [14]:
print(data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [15]:
data.pop()

100

In [16]:
data.pop()

98

In [17]:
# delete the value at 6th index
data.pop(6)

14

In [18]:
# delete by value
data.remove(46)

In [21]:
# List Comprehension
# data = [i for i in range(1,101)]
data = [i for i in range(1,101) if i % 2 == 0]

In [22]:
print(data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [23]:
data = {
    "names" : ["Ram","Shyam","Gopal","Anuj","Raman"],
    "marks" : [56,78,76,97,56],
    "grade" : ["B","A","A","A+","B"]
}

In [25]:
data["names"]

['Ram', 'Shyam', 'Gopal', 'Anuj', 'Raman']

In [26]:
data["names"][0]

'Ram'

In [27]:
data["hobby"] = ["cricket","cricket","cricket","cricket","cricket"]

In [28]:
data

{'names': ['Ram', 'Shyam', 'Gopal', 'Anuj', 'Raman'],
 'marks': [56, 78, 76, 97, 56],
 'grade': ['B', 'A', 'A', 'A+', 'B'],
 'hobby': ['cricket', 'cricket', 'cricket', 'cricket', 'cricket']}

In [29]:
import pandas as pd

In [30]:
df = pd.DataFrame(data)

In [31]:
df

   names  marks grade    hobby
0    Ram     56     B  cricket
1  Shyam     78     A  cricket
2  Gopal     76     A  cricket
3   Anuj     97    A+  cricket
4  Raman     56     B  cricket